.game-information-item {
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.game-information-title {
    font-size: 24px;
    font-weight: bold;
}

.game-information-list ul {
    list-style-type: disc;
}

.game-information img {
    max-width: 100%;
}

.game-information-source {
    align-self: flex-end;
    font-size: 12px;
}