.blueprint-calculator {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.calculator {
    order: 1;
}

.empty-error,
.error-message {
    flex: 1 1 auto;
    max-width: 400px;
    order: 2;
}

.empty-result,
.result {
    flex: 1 1 auto;
    max-width: fit-content;
    order: 3;
}